@font-face {
    font-family: FFMarkMedium;
    src: url('../fonts/FF-Mark-Pro-Medium.otf')
}

@font-face {
    font-family: FFMarkRegular;
    src: url('../fonts/FF-Mark-Pro-Book.otf')
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #1b1014;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.main-header {
    background-color: #131317;
}

.main-header img {
    width: 1000px;
    padding: 20px;
}

.content-wrapper {
    display: flex;
    min-height: calc(100vh - 108.867px);
}

.controls-wrapper {
    min-height: 100%;
    width: 400px;
}

h2 {
    font-family: FFMarkRegular, serif;
    font-size: 24px;
    font-weight: normal;
    color: #ec1e59;
}

.canvas-wrapper {
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

table,
tr,
td {
    border: 1px solid rgba(236, 30, 89, 0.2);
}

table {
    border-collapse: collapse;
    margin: 0 auto;
}

tr {
    height: 20px;
}

td {
    width: 20px;
}

.canvasCol {
    background-color: #1b1014;
}

.toggleGrid {
    border: none;
}

input[type=number] {
    width: 6em;
}

input[type=color] {
    width: 100px;
    height: 100px;
    padding: 0;
    border: 0;
}
